<p>rooms works!</p>
<h1>Welcome to {{hotelName}}</h1>
<!-- The above is interpolation, in rooms.component.ts, there is a hotelName: "Hilton Hotel" under export class -->

<div [hidden]="hideRooms"> 
    <div [ngStyle]="{'color': rooms.availableRooms ? 'steelblue' : 'red'}"
        [innerText]="numberOfRooms">
    </div>
</div>
<!-- this is property binding -->

<div *ngIf="selectedRoom">
    {{selectedRoom | json }}
</div>
<div *ngIf = "rooms.availableRooms > 0">
    <app-rooms-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<button (click)="toggle()">Toggle</button>