<p>rooms works!</p>
<h1>Welcome to {{hotelName}}</h1>
<!-- The above is interpolation, in rooms.component.ts, there is a hotelName: "Hilton Hotel" under export class -->

<div [hidden]="hideRooms"> 
    <div [ngStyle]="{'color': rooms.availableRooms ? 'steelblue' : 'red'}"
        [innerText]="numberOfRooms">
    </div>
</div>
<!-- this is property binding -->


<div *ngIf = "rooms.availableRooms > 0">
    Rooms List
    <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Amenities</th>
            <th>Checkin Time</th>
        </tr>
        <tr 
            [ngClass] = "e? 'even' : 'odd'" 
            *ngFor="let room of roomList; let e=even; let o=odd; let i = index"
        >
            <td>{{i}}</td>
            <td>{{e ? "Even" : "Odd"}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.price}}</td>
            <td>{{room.amenities}}</td>
            <td>{{room.checkinTime}}</td>
        </tr>
    </table>
</div>

<button (click)="toggle()">Toggle</button>